html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    height: 100vh;
  
}
header { border: 1px solid blue; }

h1{
  display: table;
  margin-right: auto;
  margin-left: auto;
}

footer { border: 1px solid blue; }

#main{
  display: table;
  margin-right: auto;
  margin-left: auto;
}

#menu ul{
  margin: 0;
  background-color: black;
  list-style: none;
}

#menu ul li{
  display: inline;

}

#menu ul li a{
  padding: 10px 10px;
  display: inline-block;

  color: white;
  text-decoration: none;
}

p{
  display: table;
  margin-right: auto;
  margin-left: auto;
}

button{
  display: table;
  margin-right: auto;
  margin-left: auto;
}

div#banner {
  margin: 0 auto;
  padding: 0;
  width: 4000px;
  height: 200px;
  background: url('../c.png') no-repeat left bottom;

}


