html {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    height: 100vh;
  }
  header { border: 1px solid blue; }
  #h1{
    color: blueviolet;
  }